.options {
    width: 30%;
    margin: 0 auto;
}

.question {
    border: 2px solid #3D9970;
    width: 60%;
    margin: 2% auto;
    padding: 2%;
}

.option {
    border: 1px solid #01FF70;
    margin: 7% 0%;
    padding: 5%;
}

@media screen and (max-width: 1024px) and (min-width: 476px) {
    .options {
        width: 100%;
        margin: 0 auto;
    }

    .question {
        border: 2px solid #3D9970;
        width: 80%;
        margin: 2% auto;
        padding: 2%;
    }

    .option {
        border: 1px solid #01FF70;
        padding: 1%;
        width: 50%;
        margin: 1% auto;
    }
}

@media screen and (max-width: 475px) and (min-width: 264px) {
    .options {
        width: 100%;
        margin: 0 auto;
    }

    .question {
        border: 2px solid #3D9970;
        width: 90%;
        margin: 2% auto;
        padding: 2%;
    }

    .option {
        border: 1px solid #01FF70;
        padding: 1%;
        width: 80%;
        margin: 1% auto;
    }
}

@media screen and (max-width: 263px) {
    .options {
        width: 100%;
        margin: 0 auto;
    }

    .question {
        border: 2px solid #3D9970;
        width: 100%;
        margin: 2% auto;
        padding: 2%;
    }

    .option {
        border: 1px solid #01FF70;
        padding: 1%;
        width: 100%;
        margin: 1% auto;
    }
}